@import url(meyer-reset.css);
path:focus {
  outline: none; }

h1 {
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Source Sans Pro', sans-serif; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

h4 {
  font-size: 1.25rem;
  font-weight: 600; }

p {
  font-size: 1rem;
  line-height: 20px; }

section {
  max-width: 100%; }

.bold {
  font-weight: 600; }

.button {
  padding: 1rem;
  border-radius: 4px;
  color: white;
  background-color: #1a354b;
  border: none;
  margin: 1rem;
  min-width: 10rem; }

.login-button {
  padding: .5rem;
  font-size: 12px;
  border-radius: 4px;
  color: white;
  background-color: #5a778c;
  border: none;
  margin-left: .2rem;
  margin-right: .2rem;
  min-width: 5rem; }

.page-number {
  padding: .5rem;
  border-radius: 4px;
  color: white;
  background-color: #1a354b;
  border: none;
  margin: .5rem;
  min-width: 2rem; }

button:focus {
  outline: none; }

button:hover {
  background-color: #FF5533; }

.App {
  color: #1a354b;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box; }

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  box-shadow: 0 3px 12px 0px rgba(189, 189, 189, 0.39);
  margin-bottom: 1rem;
  height: fit-content; }

.footer {
  background-color: #5a778c;
  min-height: 4rem;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 16px; }
  .footer h4 {
    font-size: 16px;
    font-weight: 400;
    color: white; }
  .footer p {
    font-size: 12px;
    color: white;
    letter-spacing: 2px; }
  .footer a {
    font-size: 12px;
    color: white; }
  .footer img {
    max-width: 30px;
    max-height: 30px;
    padding: .25rem; }

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.flex-container-center {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.stack-sections {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.right-align {
  align-items: flex-end; }

.space-between {
  justify-content: space-between; }

.ski-sidebar {
  height: 475px; }

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 1.5rem 3rem 2rem 3rem;
  border-bottom: #1a354b 1.75px solid; }

.nav-bar {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem; }
  .nav-bar a {
    padding-top: 1rem; }
  .nav-bar a:link {
    color: #1a354b;
    text-decoration: none; }
  .nav-bar a:visited {
    color: #1a354b;
    text-decoration: none; }
  .nav-bar a:hover {
    color: #FF5533;
    text-decoration: none; }

.nav-icon {
  padding-left: 1rem; }

.title {
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.page-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  min-height: 21rem; }
  .page-title h2, .page-title p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem; }
  .page-title img {
    max-width: 300px; }

.beacon-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5a778c;
  padding: 1rem;
  color: white; }
  .beacon-title h1 {
    font-size: 4rem;
    margin: 1.5rem; }

.beacon-list {
  margin-left: 3.5rem;
  margin-top: 3.5rem;
  align-items: flex-start;
  line-height: 20px; }

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 9.6rem;
  width: 100%; }

.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 11.25rem;
  width: 100%; }

.image-bar img {
  width: 25%; }

.login-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 15rem;
  width: 100%;
  height: 100vh; }

.co-map {
  width: 550px;
  height: 400px; }

.MapContainer {
  text-align: left; }
  .MapContainer p {
    padding-left: 2rem; }

.map-nav {
  height: 3rem;
  justify-content: flex-start;
  margin-top: 1rem; }

.course-type {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  text-align: center; }
  .course-type p {
    margin: .5rem; }

.split-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative; }
  .split-section .image-stack {
    max-width: 32%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column; }
    .split-section .image-stack img {
      width: 100%;
      box-shadow: 6px 6px 12px 6px rgba(189, 189, 189, 0.39);
      margin-bottom: 2rem; }
  .split-section .course-list {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem; }

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: .5rem; }
  .search-bar select {
    min-width: 12rem;
    padding: .25rem;
    margin: .25rem;
    border-radius: 4px; }
  .search-bar select:focus {
    outline: none; }

form input {
  padding: .5rem;
  margin: .25rem;
  border-radius: 4px;
  border: 1px #1a354b solid; }

form input:focus {
  outline: none; }

form label {
  margin-top: .5rem; }

.add-form {
  width: 50%; }
  .add-form .text-input {
    height: 7rem; }

.current-weather {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  line-height: 45px;
  background-color: #b2c5d23e;
  border-radius: 4px;
  padding: 2rem;
  margin: 1rem;
  width: 20%;
  line-height: 40px;
  box-shadow: 6px 6px 12px 6px rgba(189, 189, 189, 0.39); }
  .current-weather .weather-section {
    padding-top: .75rem;
    padding-bottom: .75rem; }
  .current-weather .small-title {
    font-size: 15px; }
  .current-weather h2 {
    font-size: 2.5rem; }
  .current-weather h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 30px; }
  .current-weather p {
    font-size: 11px;
    line-height: 14px; }
  .current-weather h4 {
    font-weight: 600; }

.details-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  line-height: 45px;
  background-color: #b2c5d23e;
  border-radius: 4px;
  padding: 2rem;
  width: 70%;
  box-shadow: 6px 6px 12px 6px rgba(189, 189, 189, 0.39); }
  .details-card h3 {
    margin-bottom: 0; }

.go-back {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%; }

.course-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .course-list h3 {
    margin-top: 0; }

.list-item {
  border: 1px #1a354b solid;
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  min-height: 2.5rem;
  text-align: left; }
  .list-item .class-title {
    width: 25%; }
  .list-item .course-details {
    width: 75%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 5px;
    text-align: left; }
    .list-item .course-details p {
      font-size: 12px;
      line-height: 14px; }

.list-item:hover {
  background-color: #5a778c;
  color: white; }

.area-cards .description {
  font-size: 11px;
  line-height: 14px;
  margin: 1rem;
  width: 75%; }

.area-cards .area-title {
  margin: .5rem;
  width: 24%; }

.area-cards a {
  font-size: 11px; }

.menu-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 3px solid red; }

.menu-btn-burger {
  width: 50px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px #1a354b;
  transition: all .5s ease-in-out; }

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px grey;
  transition: all .5s ease-in-out; }

.menu-btn-burger::before {
  transform: translate(-16px); }

.menu-btn-burger:after {
  transform: translate(16px); }
